@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: 100% 100%;
  background-color: #e7e7e8;
  color: black;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth
}

body {
  margin: 0
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Moon-Light';
  src: url('Fonts/Moon2.0-Light.otf');
}

@font-face {
  font-family: 'Moon-Regular';
  src: url('Fonts/Moon2.0-Regular.otf');
}

@font-face {
  font-family: 'Moon-Bold';
  src: url('Fonts/Moon2.0-Bold.otf');
}

@font-face {
  font-family: 'Archia';
  src: url('Fonts/Archia-Regular.otf');
}

@font-face {
  font-family: 'Cyrene';
  src: url('Fonts/Cyrene+Regular+Advanced.otf');
}

@font-face {
  font-family: 'Buffalo';
  src: url('Fonts/BuffaloScript-Regular.otf');
}

@font-face {
  font-family: 'Nikoleta';
  src: url('Fonts/NIKOLETA.otf');
}

@font-face {
  font-family: 'Futura';
  src: url('Fonts/Futura.ttf');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('Fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins-Thin';
  src: url('Fonts/Poppins-Thin.ttf');
}

@font-face {
  font-family: 'Louis-George-Cafe';
  src: url('Fonts/Louis George Cafe.ttf');
}

@font-face {
  font-family: 'Louis-George-Cafe-Bold';
  src: url('Fonts/Louis George Cafe Bold.ttf');
}

@font-face {
  font-family: 'Louis-George-Cafe-Bold-Italic';
  src: url('Fonts/Louis George Cafe Bold Italic.ttf');
}

.header {
  top: 0px;
  margin: 0px;
  color: #FFFFFF;
  width: 100%;
  height: auto;
  z-index: 1000;
  opacity: 100%;
  letter-spacing: 3px;
  font-family: 'Louis-George-Cafe';
}

.bandeau {
  font-family: 'Louis-George-Cafe-Bold';
  text-shadow: 1px 1px 2px black;
  height: 100%;
  background-image: url("images/poivre-1-2.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  text-align: center;
  letter-spacing: 7px;
  font-size: 0px;
  outline-style: groove;
  outline-color: #282a35;
  outline-width: 0px;
  color: #e7e7e8;
  padding: 1px;
  background-size: 100%;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: black;
  text-decoration: none;
  font-family: 'SK', sans-serif;
  font-size: 16px;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.1px;
  bottom: -2;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

hr {
  border-top: 5px dashed #f4f4f4;
}

.nav {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.nav * {
  box-sizing: border-box;
  transition: all .35s ease;
}

.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 1em;
  padding: 0;
}

.nav a {
  padding: .5em .8em;
  color: #e7e7e8;
  position: relative;
  text-decoration: none;
  font-size: 17px;
}

.nav a::before,
.nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #494d61;
  border-right: 3px solid #e7e7e8;
  transform: translate(-100%, 50%);
}

.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #494d61;
  border-left: 3px solid #e7e7e8;
  transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

.nav a:hover {
  color: #e7e7e8;
}

.table1 {
  background-color: rgba(25, 245, 124, 0.5);
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.1);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container {
  margin: 30px auto;
  width: 820px;
}

.image-box {
  position: relative;
  overflow: hidden;
}

.image-box img {
  width: 100%;
  transition: .5s
}

.text-box {
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: rgba(0, 52, 68, 0.5);
  transition: 0.5s
}

.text-box h1 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 61%;
  width: 100%;
  color: #FFF;
  font-family: arial;
  transform: translateX(-50%) translateY(-50%);
}

.text-box p {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 60%;
  left: 61%;
  width: 100%;
  color: #FFF;
  font-family: arial;
  transform: translateX(-50%) translateY(-50%);
}

.image-box:hover .text-box {
  left: 0%;
}

.image-box:hover img {
  transform: scale(1.1)
}

#backtop {
  position: fixed;
  left: auto;
  right: 20px;
  top: auto;
  bottom: 20px;
  outline: none;
  overflow: hidden;
  color: #fff;
  text-align: center;
  background-color: #282a35;
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s linear;
  z-index: 999999;

  opacity: 1;
  display: none;
}

#backtop:hover {
  background-color: rgba(49, 79, 96, 0.84);
}

#backtop.mcOut {
  opacity: 0;
}

/* ---------------- For sticky header: class="float-panel"  ------------------*/
.float-panel {
  width: 100%;
  background: transparent;
  z-index: 300;
  padding: 30px 0;
  transform: translateZ(0);
  transition: all 0.5s;
  /* Effect for switching from .fixed to static */
}

.float-panel .content-area {
  margin: 10px auto;
}

.float-panel a {
  font-size: 16px;
  text-decoration: none;
  color: white;
  display: inline-block;
  margin: 0px 0px 5px 0px;
}

.float-panel .fa-gg {
  color: #F0595C;
  font-size: 30px;
  vertical-align: middle;
  transition: all 1s;
}

/* when class="float-panel fixed" */
.fixed {
  background: #282a35;
  color: black;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding: 4px 0;
  animation: slide-down 0.7s;
  opacity: 0.9;
}

.fixed .fa-gg {
  transform: rotate(360deg);
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 0.9;
    transform: translateY(0);
  }
}

/* ---------------- For Animation on Scroll ---------------- */
.slideanim {
  visibility: hidden;
  visibility: visible\9;
  /*For old IE browsers IE6-8 */
}

.slideanim.slide {
  visibility: visible;
  animation: slide 1s;
}

.slideanim::after {
  /* useful when its child elements are float:left; */
  content: "";
  display: table;
  clear: both;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 0.9;
    transform: translateY(0);
  }
}

table {
  overflow: hidden;
  table-layout: fixed;
}